:root{
  --imgsize: min(30vw, 45vh);
}
body{
  background-color: #1d9ba9;
  text-align: center;
  padding-bottom: 5vh;
}
.top{
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
h1{
  flex: 10;
  color:white;
  font-weight: 800;
  font-size: 4rem;
}
h3{
  color:white;
  font-size: 0.9rem;
  font-weight: 100;
}
.close{
  flex: 1;
  font-size: 3rem;
  font-weight: 100;
  color: white;
}
.row{
  padding-left: 14vw;
  padding-right: 14vw;
  width:70vw;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
img{
  border: 1px white solid;
}
#circ{
  border-radius: 50%;
  height: var(--imgsize);
  width: var(--imgsize);
}
#rect{
  height: calc(var(--imgsize)*0.7);
  width: var(--imgsize);
}
#squa{
  height: var(--imgsize);
  width: var(--imgsize);
}
#tria{
  clip-path: polygon(52% 31px, -1% 107%, 100% 100%);
  height: var(--imgsize);
  width: var(--imgsize);
}
#bigimg{
  width: 70vw;
}

/* Media Queries */
@media (max-width: 480px) {
  .row{
    flex-direction: column;
    height: 80vh;
  }
  .top{
    display: block;
  }
  :root{
    --imgsize: min(90vw, 80vh);
  }
}
